:root{
    --clr-yellow: #daa520;
    --clr-grey: #898989;
    --clr-grey-dark: #444444;
    --clr-grey-bg: #f3f4f6;
    --clr-light: #ffffff;
    --clr-dark: #0a0a0a;

    --ff-primary: 'Kepler', serif;
    --ff-secondary: 'Poppins', sans-serif;
    
    --size-btn: 0.6875rem;
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

*{
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--ff-secondary);
    background-color: var(--clr-light);
}
h1,
h2,
h3,
h4{
    font-family: var(--ff-primary)
}
h2{
    color: var(--clr-yellow);
    font-weight: 100;
}
h3{
    color: var(--clr-grey);
    font-weight: 100;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
button{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
